<?xml version = '1.0' encoding = 'UTF-8'?>
<References xmlns="http://xmlns.oracle.com/adf/jndi">
   <Reference name="SpringBoot_ECommerce" className="oracle.jdeveloper.db.adapter.DatabaseProvider" xmlns="">
      <Factory className="oracle.jdeveloper.db.adapter.DatabaseProviderFactory"/>
      <RefAddresses>
         <StringRefAddr addrType="user">
            <Contents>system</Contents>
         </StringRefAddr>
         <StringRefAddr addrType="subtype">
            <Contents>oraJDBC</Contents>
         </StringRefAddr>
         <StringRefAddr addrType="customUrl">
            <Contents>jdbc:oracle:thin:@localhost:1521/XE</Contents>
         </StringRefAddr>
         <StringRefAddr addrType="hostname">
            <Contents>localhost</Contents>
         </StringRefAddr>
         <StringRefAddr addrType="port">
            <Contents>1521</Contents>
         </StringRefAddr>
         <StringRefAddr addrType="serviceName">
            <Contents>XE</Contents>
         </StringRefAddr>
         <StringRefAddr addrType="ConnName">
            <Contents>SpringBoot_ECommerce</Contents>
         </StringRefAddr>
         <StringRefAddr addrType="NoPasswordConnection">
            <Contents>FALSE</Contents>
         </StringRefAddr>
         <StringRefAddr addrType="driver">
            <Contents>oracle.jdbc.OracleDriver</Contents>
         </StringRefAddr>
      </RefAddresses>
   </Reference>
</References>
